html,body{
  padding:0;
  margin:0;
}
ul.w3-ul li{
  padding:8px 0;
  cursor:pointer;
}
ul.w3-ul.catItems li{
  padding-bottom:0;
  cursor:default;
}
.itemDesc{
  display:block;
  box-sizing: border-box;
  margin:8px 0 0 0;
  width:100%;
  text-align:center;
  overflow: hidden;
  padding:0;
  height:0px;
  line-height:0px;
  -webkit-transition: .6s;
  transition: .6s;
}
.w3-ul li:hover .itemDesc{
  height:auto;
  line-height:1rem;
  padding:10px 0;
  background-color: #ddd;
}
